@use 'sass:color';
@use 'src/styles/vars';

.menu {
  z-index: -1;
  min-height: 100vh;
  width: vars.$menuWidth;
  padding: vars.$halfGutter 0;
  background-color: vars.$bg-dark-color;
  box-shadow: inset -20px 0 20px -20px rgba(0,0,0,.75);
  
  
  @media (max-width: vars.$small) {
    width: vars.$smallMenuWidth;
    font-size: .85em;
  }

  &-link {
    display: block;
    padding: vars.$halfGutter vars.$gutter;
    transition: color .2s, box-shadow .4s;
    color: rgba(255,255,255,.75);

    &:hover:not(&--active) {
      color: white;
    }

    &--active {
      color: vars.$primary-color;
      box-shadow: inset -3px 0 0 vars.$primary-color;
    }
  }
}

.toggler {
  position: fixed;
  top: 3em;
  left: 0;
  transition: all 0.3s ease-in-out;

  &--closed {
    transform: translateX(-18em);
  }
    
}
