@use 'src/styles/vars';

.profile {
  margin: 1em auto 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
  width:70%;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: vars.$bg-dark-color;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);

    &-bg {
      background-image: url(https://images.contentstack.io/v3/assets/blt187521ff0727be24/blt47c7e1e814519dc2/60ee0c8f8c0ef444a6835a14/demacia-grandplaza.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 20em;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom: 3px solid vars.$light-color;
    }
  }

  &-img{
    border-radius: 50%;
    border: 3px solid vars.$light-color;
    transform: translateY(50%);
  }

  
}

@media screen and (max-width: 640px ) {
  .profile {
    width: 95%;

    // &-wrapper {
    // border-radius: 0;
    //   &-bg {
    //     border-top-left-radius: 0px;
    //     border-top-right-radius: 0px;
    //   }
    // }
  }
}
