@use 'src/styles/vars';

.profile {
  margin: 1em auto 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
  width:70%;
  color: vars.$light-color;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: vars.$bg-dark-color;
    width: 80% ;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);

    &-bg {
      background-image: url(https://images.contentstack.io/v3/assets/blt187521ff0727be24/blt47c7e1e814519dc2/60ee0c8f8c0ef444a6835a14/demacia-grandplaza.jpg);
      filter: grayscale(50%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 20em;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom: 3px solid vars.$light-color;

      &:hover {
        filter: grayscale(0%);
      }
    }    

    &-info{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 5em;
    }
  }

  &-img{
    border-radius: 50%;
    border: 3px solid vars.$light-color;
    transform: translateY(50%);
  }

  &-title {
    color: vars.$light-color;
    font-size: 2.2em;
  }

  &-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1em auto 1em;
  }

  &-label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: lightgray;
    margin-bottom: 0.5em;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  &-input {
    background-color: vars.$bg-dark-color;
    border-bottom: 1px solid vars.$light-color;
    margin-bottom: 1em;
    color: vars.$light-color;
    font-size: 1.5em;
  }

  &-games {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: vars.$gutter;
  }

  &-subtitle {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  &-lasttitle {
    font-size: 1em;
    margin-bottom: 0.5em;
    display: flex;
  }
  
  &-list {
    display: flex;
    flex-direction: column;
  }

  &-item {
    display: flex;
    justify-content: flex-end;
    color: lightgray;

      &-button {
        margin: 0 3em 0.8em 3em;
        background-color: vars.$light-color;
        border: 1px solid vars.$light-color;
        border-radius: 3px;
        color: vars.$bg-dark-color;
        font-weight: 500;
        font-size: 0.8em;
        padding: 3px 10px;
    
        &:hover {
          border: 1px solid vars.$light-color;
          background-color: transparent;
          color: vars.$light-color;
        } 
      }

      &-check {
        cursor: pointer;
        width: 45px;
        height: 20px;
        background: vars.$light-color;
        border-radius: 10px;
        position: relative;
        display: inline-block;

        &:after {
          content: '';
          position: absolute;
          top: 1px;
          left: 3px;
          width: 18px;
          height: 18px;
          background: vars.$bg-dark-color;
          border-radius: 10px;
          transition: 0.3s;
        }
      }

      &-checkbox:checked + label:after {
        transform: translateX(50px);
      }
  }
}

.players-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 640px ) {
  .profile {
    width: 95%;

    // &-wrapper {
    // border-radius: 0;
    //   &-bg {
    //     border-top-left-radius: 0px;
    //     border-top-right-radius: 0px;
    //   }
    // }
  }
}
