@use 'src/styles/vars';

.game {
  height: 100%;
  margin: 1em auto 0;
  display: flex;
  justify-content: center;
}

.releases {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-platform {
    margin-right: 5em;
  }

  &-dates {
    margin-right: 5em;
  }
}

.add-game-form {
  display: flex;
  margin: auto;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_selector {
    color: white;
    font-size: 1.2em;
    
    &__platform {
      width: 100%;
      height: vars.$gutter *1.2;
      margin-bottom: vars.$gutter *0.8;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid vars.$light-color;
      font-size: 0.9em;
    }
  }
}

.buttons {
   display: flex; 
}

@media screen and (max-width: 640px ) {
  .releases {
    display: flex;
    flex-wrap: wrap;
  
    &-platform {
      margin-right: 2em;
    }
  
    &-dates {
      margin-right: 2em;
    }
  }
}
