@use 'src/styles/vars';

.footer {
  background-color: vars.$bg-dark-color;
  bottom:0;
  width:100%;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  &-legals {
    display: flex;
    flex-direction: column;
  }

  &-content {
    text-align: center;
  }

}

.legals-link:hover {
  color: vars.$primary-color;
}
