@use 'src/styles/vars';

.search {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}

.form-wrapper {
  background: url(https://zupimages.net/up/22/46/okdv.png);
  box-shadow: 0px 0px 2px vars.$dark-color;
  height: 400px;
  margin-bottom: 2em;
}

.form-wrapper-players {
  background: url(https://zupimages.net/up/22/46/ycy0.png);
  box-shadow: 0px 0px 2px vars.$dark-color;
  height: 400px;
  margin-bottom: 2em;
}

.search-form {
  width: 100%;
  height: 100%;
  margin: 3em auto;
  display: flex;
  flex-flow: column wrap;
  align-content: center;

  &-label {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    font-size: 1.7rem;
  }

  &-input {
    width: 100%;
    height: vars.$gutter *1.2;
    margin-bottom: vars.$gutter *0.8;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid vars.$light-color;
    font-size: 0.9em;
    text-shadow: 0px 0px 1px black;
  }

  &-selector {
    display: flex;
    flex-flow: column wrap;
    font-size: 1.7em;
    width: 30%;
  }

  &-platform {
    height: vars.$gutter *1.2;
    margin-bottom: vars.$gutter *0.8;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid vars.$light-color;
    font-size: 0.7em;
  }

  &-options {
    background-color: vars.$primary-color;
  }

  &-button {
    font-family: vars.$global-font;
    margin:0.5em;
    background-color: vars.$primary-color;
    border: none;
    border-radius: 0.3em;
    box-shadow: 0px 0px 2px #8ea1ea;
    color: white;
    height: 2em;
    width: 6em;

    &:hover {
        box-shadow: 0px 0px 4px #8ea1ea;
    }
  }
}

.game-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

.player-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 640px ) {
  .search {
    width: 100%;
    margin: auto;

    &-form-label, &-form-selector {
      width: 80%;
      margin: 0 auto;
    }

    &-form-button {
      margin-left : 5em;
    }
  }
  .form-wrapper {
    width: 100%;
  }
  .form-platform {
    width: 100%;
  }
}
